@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

body,
html {
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  background: #000;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

@media (max-width:1350px) {
  .container {
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (max-width:800px) {
  .container {
    width: 100%;
    padding-right: 33px;
    padding-left: 33px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}

.logo {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

@media (max-width:800px) {
  .logo {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
}

.header__box {
  display: flex;
  justify-content: space-between;
  width: 870px;
  padding-top: 9px;
}

@media (max-width:800px) {
  .header__box {
    display: none;
  }
}

.nav {
  width: 761px;
  display: flex;
  justify-content: space-between;
}

.nav--mw-1200px {
  display: none;
}

@media (max-width:1200px) {
  .nav {
    display: none;
  }

  .nav--mw-1200px {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
  }
}

@media (max-width:800px) {
  .nav--mw-1200px {
    display: none;
  }
}

.nav__link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.lang-choise {
  width: 49px;
  height: 21px;
  display: flex;
  justify-content: space-between;
}

.lang-choise--mw-1200px {
  display: none;
}

@media (max-width:1200px) {
  .lang-choise {
    display: none;
  }

  .lang-choise--mw-1200px {
    display: flex;
    padding-top: 16px;
  }
}

@media (max-width:800px) {
  .lang-choise--mw-1200px {
    display: none;
  }
}

.lang-choise__link,
.lang-chise__separator {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.lang-chise__separator,
.lang-choise__link-pink {
  color: #6F42B8;
}

.main-screen__box {
  display: flex;
  justify-content: space-between;

}

@media (max-width:1300px) {
  .main-screen__box {
    flex-direction: column;
  }
}

.menu-btn {
  width: 60px;
  height: 36px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: none;
  z-index: 7;
}

@media (max-width:800px) {
  .menu-btn {
    display: block;
  }
}

.menu-btn span {
  width: 55px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #6F42B8;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 8.5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 8px);
}

.menu {
  z-index: 6;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  transform: translateX(100%);
  transition: transform 0.5s;
}

.menu__nav {
  display: flex;
  flex-direction: column;
}

.menu__nav a {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 40px;
}

.lang-choise--menu {
  display: flex !important;
  padding-top: 40px;
  padding-bottom: 30px;
}

.lang-choise--menu a {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.menu.active {
  transform: translateX(50%);
}

@media (max-width:550px) {
  .menu.active {
    transform: translateX(0);
  }
}

.menu li {
  list-style-type: none;
}

.menu-btn.active span {
  width: 33px;
  transition: transform 0s;
}

.menu-btn.active span:first-of-type {
  transform: translateX(100%);
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: transform 0.5s;
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: transform 0.5s;
}

.main-screen__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;

  color: #FFFFFF;
  max-width: 477px;
  margin-top: 150px;
  color: #FFFFFF;
  margin-bottom: 0;
}

@media (max-width:1300px) {
  .main-screen__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
  }
}

@media (max-width: 600px) {
  .main-screen__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    width: 240px;
    margin-top: 70px;
  }
}

.main-screen__btn--mini {
  display: none;
}

.main-screen__btn {
  margin-top: 30px;
  color: #FFFFFF;
  width: 500px;
  height: 70px;
  background-color: #000;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  border: 1px solid white;
}

@media (max-width:1300px) {
  .main-screen__btn {
    width: 100%;
    height: 85px;
    margin-top: 60px;
  }
}

@media (max-width:800px) {
  .main-screen__btn {
    display: none;

  }

  .main-screen__btn--mini {
    display: block;
    margin-top: 40px;
  }
}

@media (max-width:500px) {
  .main-screen__btn {
    display: none;

  }

  .main-screen__btn--mini {
    display: block;
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
  }
}

.main-screen__description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 172.7%;
  max-width: 500px;
  margin-top: 10px;
  color: #FFFFFF;
  display: block;
}

@media (max-width:1300px) {
  .main-screen__description {
    max-width: 100%;
  }
}

.main-screen__photo-block {
  width: 582px;
  margin-top: -235px;
}

.main-screen__mini-photo-block {
  display: none;
}

@media (max-width:1300px) {
  .main-screen__photo-block {
    order: 2;
    margin-left: auto;
    margin-top: 50px;
  }
}

.main-screen__photo-block>img {
  width: 582px;
  height: 437px;
}

@media (max-width:800px) {
  .main-screen__photo-block {
    display: none;
  }

  .main-screen__mini-photo-block {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .main-screen__mini-photo-block img {
    width: 100%;
  }
}

.main-screen__decorative-item-WEB--mobile {
  margin-bottom: 18px;
  margin-right: 5px;
}

.main-screen__decorative-item-teamwork--mobile {
  margin-bottom: 16px;
  margin-right: 75px;
}

.main-screen__decorative-item-development--mobile {
  margin-bottom: 14px;
  margin-right: -8px;
}

.main-screen__decorative-item-digital--mobile {
  margin-bottom: 14px;
  margin-right: 35px;
}

.main-screen__decorative-item-seo’s--mobile {
  margin-right: 20px;
}

.main-screen__decorative__block--mobile-2 {
  margin-top: 295px;
  transform: scale(1.2);
}


.main-screen__decorative__block {
  position: relative;
  width: 433px;
  height: 381px;
  position: absolute;
  z-index: 2;
  top: 360px;
  left: 46%;
}

@media (max-width:1300px) {
  .main-screen__decorative__block {
    top: 621px;
    right: 2200%;
  }
}

.main-screen__decorative-item {
  background: #1E1E1E;
  border-radius: 36px;
  display: inline-block;
  position: absolute;
}

.main-screen__decorative-item-Research {
  margin-left: 71px;
}

.main-screen__decorative-item-typography {
  margin-top: 100px;
}

.main-screen__decorative-item-mind {
  margin-top: 132px;
  margin-left: 189px;
}

.main-screen__decorative-item-ui {
  margin-top: 172px;
  margin-left: 107px;
}

.main-screen__decorative-item-ux {
  margin-top: 240px;
  margin-left: 30px;
}

.main-screen__decorative-item-design {
  margin-top: 240px;
  margin-left: 160px;
}

.main-screen__decorative-item-figma {
  margin-top: 310px;
  margin-left: 355px;
}

.description {
  display: flex;
  justify-content: space-between;
  max-width: 678px;
  margin: 0 auto;
  margin-top: 200px;
}

.main-screen--mini {
  display: none;
}

@media (max-width:800px) {
  .description {
    flex-direction: column;
    width: 180px;
    margin: 0 auto;
    margin-top: 80px;
  }

  .description__item {
    margin-bottom: 60px;
  }

  .description__item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .main-screen {
    display: none;
  }

  .main-screen--mini {
    display: block;
  }
}

.description__text {
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.experiance__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  margin-top: 155px;
  margin-bottom: 0;
  color: #FFFFFF;

}

.experiance__title-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;

  color: rgba(217, 217, 217, 0.5);

}

.experiance__decorative-block {
  display: none;
}

.experience__box {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 150px;
}

.experiance__item {
  width: 188px;
}
.experiance__item--mt-20px{
  margin-top: -20.5px;
}

@media (max-width:1300px){
  .experiance__item--mt-20px{
    margin-top: 0;
  }
}

.experiance__item>img {
  margin: 0 auto;
  display: block;
  margin-top: 17px;
  margin-bottom: 20px;
}

.experience__sub-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  color: #FFFFFF;

}
/* .experience__sub-title--width_200px{
  width: 250px;
} */
.experience__buttom__text,
.experience__top-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #D9D9D9;
}

.my-clients__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
  margin-bottom: 70px;
}

.my-clients__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.my-slients__item-1 {
  width: 166px;
  height: 50px;
}

.my-slients__item-2 {
  width: 117px;
  height: 41px;
}

.my-slients__item-3 {
  width: 177px;
  height: 27px;
}

.my-slients__item-4 {
  width: 37px;
  height: 50px;
}

.my-slients__item-5 {
  width: 256px;
  height: 48px;
}

.my-slients__item-6 {
  width: 178px;
  height: 29px;
}

.my-slients__item-7 {
  width: 66px;
  height: 41px;
}

@media (max-width:1300px) {
  .section-container {
    width: 800px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .experiance__title {
    margin-top: 90px;
  }

  .my-clients__title {
    margin-top: 90px;
    margin-bottom: 100px;
  }

  .experience__box {
    flex-direction: column;
    position: relative;
  }

  .my-clients__box {
    flex-direction: column;
  }

  .my-slients__item-1,
  .my-slients__item-2,
  .my-slients__item-3,
  .my-slients__item-4,
  .my-slients__item-5,
  .my-slients__item-6,
  .my-slients__item-7 {
    margin-bottom: 55px;
  }

  .my-slients__item-6,
  .my-slients__item-7 {
    display: none;
  }

  .experiance__item {
    margin-bottom: 33px;
    margin-left: 30px;
  }

  .experiance__item img {
    display: none;
  }

  .experiance__item p,
  .experience__sub-title {
    text-align: left;
  }

  .experience__buttom__text {
    margin-top: 6px;
  }

  .experiance__decorative-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 20px;
  }

  .experiance__decorative-block .experinse__circle:nth-of-type(1) {
    padding-top: 16px;
  }

  .experiance__decorative-block .experinse__circle:nth-of-type(2) {
    padding-top: 77px;
  }

  .experiance__decorative-block .experinse__circle:nth-of-type(3) {
    padding-top: 77px;
  }

  .experiance__decorative-block .experinse__circle:nth-of-type(4) {
    padding-top: 77px;
  }

  .experiance__decorative-block .experinse__circle:nth-of-type(5) {
    padding-top: 77px;
  }

  .experiance__line {
    position: absolute;
    height: 500px;
    width: 0px;
    border: 0.5px solid white;
    z-index: 2;
    left: 9px;
    bottom: 5px;
  }
}

@media (max-width:800px) {
  .section-container {
    flex-direction: column;
    width: 100%;
  }

  .my-clients__title {
    margin-top: 0;
  }

  .my-slients__item-6,
  .my-slients__item-7 {
    display: block;
  }
}

.portfolio {
  height: 710px;
  position: relative;
}

.portfolio__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}
.portfolio__box {
  width: 1800px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 160px;
  transform: scale(1.2);
}
@media (max-width:1600px){
  .portfolio__box {
    width: 1800px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: -10%;
    top: 160px;
    transform: scale(1.0);
  }
}

@media (max-width:1300px) {
  .portfolio__box {
    left: -15%;
  }
}

.main-screen__mini-photo-block--margin-r--1px--margin-l-25px {
  padding-top: 80px;
}

@media (max-width:1300px) {
  .portfolio__box {
    width: 1600px;
    top: 130px;
    left: -10%;

  }
}

@media (max-width:1150px) {
  .portfolio__box {
    width: 1600px;
    top: 130px;
    left: -15%;

  }
}

@media (max-width:800px) {
  .portfolio__box {
    width: 1550px;
    top: 130px;
  }
}

.portfolio__item {
  width: 376px;
  height: 353px;
  background: #7D9F3E;
}

.portfolio__item>img {
  max-width: 100%;
  max-height: 100%;

}

.portfolio__item:first-child>img {
  max-width: 90%;
  max-height: 90%;
  margin-left: 85px;
  margin-top: 30px;
}

.portfolio__item:nth-child(n+2):nth-child(-n+2)>img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 40px;
}

.portfolio__item:nth-child(n+3):nth-child(-n+3)>img {
  max-width: 352px;
  max-height: 280px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.portfolio__item:nth-child(n+4):nth-child(-n+4)>img {
  max-width: 474px;
  max-height: 317px;
  margin-right: 18px;
  margin-top: 35px;
}

.white {
  background: rgb(255, 254, 254);
}

.grey {
  background: #2C2C2C;
}

.portfolio__link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #FFFFFF;
  text-align: center;
  margin-top: 555px;
  display: block;
}

@media (max-width:1600px){
  .portfolio__link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-align: center;
    margin-top: 522px;
    display: block;
  }
}

.services__separating-block {
  width: 49%;
  display: flex;
  justify-content: space-between;
}


.services__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 55px;
  color: #FFFFFF;
}

.services__block {
  display: flex;
  justify-content: space-between;
  width: 1350px;
}


.services__item {
  width: 314px;
  height: 432px;
  position: relative;
}

.services__mini__block {
  display: none;
}

.container--services {
  width: 1350px;
}

@media (max-width:800px) {
  .services__block {
    flex-direction: column;
    width: 100%;
  }

  .services__title {
    margin-bottom: 50px;
    text-align: center;
  }

  .services__item {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 100%;

  }

  .container--services {
    width: 100%;
    padding-right: 33px;
    padding-left: 33px;
  }
}



.services__box {
  width: 103px;
  height: 103px;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;

}

.services__arrow {
  display: block;
  margin: auto;
  margin-top: 37px;
}

.pink {
  background: #D53FC6;
}

.mini-pink {
  background: #D263C7;
  ;
}

.orange {
  background: #FF9141;
}


.mini-orange {
  background: #FDAA6E;
}

.light-green {
  background: #B7D53F;
}

.mini-light-green {
  background: #BAC97E;
}

.violet {
  background: #6F42B8;
}

.mini-violet {
  background: #9747FF;
}

.services__sub-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
  padding-top: 44px;
  margin-left: 32px;
}

.services__sub-title--max-width-208px {
  width: 208px;
}

.services__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: lowercase;
  color: #FFFFFF;
  margin-left: 32px;
  margin-top: 9px;
  max-width: 243px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 1029px;
  margin-top: 142px;
  padding-bottom: 118px;
}

.contact-me__title,
.social-media__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;

  color: #FFFFFF;

}

.contact-me__link>img,
.social-media__link>img {
  margin-top: 56px;
  margin-right: 23px;
}

footer nav {
  width: 635px;
  display: flex;
  justify-content: space-between;
}


.footer__main-mini-box {
  width: 872px;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */


  color: #FFFFFF;
}

.footer__link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */


  color: #FFFFFF;


}

.footer__box {
  max-width: 763px;
  display: flex;
  justify-content: space-between;
}

.footer__main-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.services__box {
  width: 103px;
  height: 103px;
}

.hr-1 {
  height: 1px;
  background: rgb(255, 255, 255);
  left: 4.5%;
  width: 1350px;
  position: absolute;
  z-index: -1;
  top: 1315.5px;
  display: block;left:50%;
  transform:translate(-50%, -50%);  

}


@media (max-width:1300px) {
  .hr-1 {
    display: none;
  }
}

.footer__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.footer__mini-nav {
  display: none;
}

@media(max-width:1200px) {
  footer nav {
    display: none;
  }

  .footer__main-box {
    padding-bottom: 20px;
  }

  .footer__mini-nav {
    display: flex;
    width: 100%;
  }
}

.lang-choise--footer {
  display: none;
}

@media(max-width:800px) {
  .nav__link--mini {
    padding-bottom: 18px;
  }

  .footer__mini-nav {
    flex-direction: column;
  }

  .footer__container {
    flex-direction: column;
  }

  .social-media {
    padding-top: 80px;
  }

  .lang-choise--footer {
    display: flex;
    margin-left: 75%;
  }
}

@media(max-width:600px) {
  .lang-choise--footer {
    margin-left: 60%;
  }
}

@media(max-width:400px) {
  .lang-choise--footer {
    margin-left: 55%;
  }
}

/* 2index */

.main-screen__decorative-item-WEB {
  margin-left: 117.5px;
}

.main-screen__decorative-item-DEVELOPMENT {
  margin-top: 100px;
}

.main-screen__decorative__block--left-44 {
  left: 44%;
}

.main-screen__decorative-item-TEAMWORK {
  margin-top: 132px;
  margin-left: 189.5px;
}

.main-screen__photo-block--mairgin-top__90px {
  margin-top: 90px;
}

.main-screen__decorative-item-ui {
  margin-top: 172px;
  margin-left: 107px;
}

.main-screen__decorative-item-ux {
  margin-top: 240px;
  margin-left: 30px;
}

.main-screen__decorative-item-SEO’s {
  margin-top: 257px;
  margin-left: 200px;
}

.main-screen__decorative-item-digital {
  margin-top: 328px;
  margin-left: 326px;
}

.main-screen__decorative-item>p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 20px;
  margin: 0;
}

.main-screen__title--page2{
  margin-top: 95px;
}

@media (max-width:1300px) {
  .main-screen__title--page2 {
    max-width: 760px;
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;
  }
}

@media (max-width:800px) {
  .main-screen__title--page2 {
    max-width: 400px;
    margin-top: 70px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }
}

@media (max-width:530px) {
  .main-screen__title--page2 {
    max-width: 400px;
    margin-top: 70px;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
  }
}

.services-2__title {
  margin-top: 171px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;

  color: #FFFFFF;
}

.services-2__box {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;
}

.services-2__sub-title {
  margin-top: 44px;
  padding-left: 70px;
}

.services-2__mini-box {
  width: 650px;
  height: 432px;
}

.services-2__list {

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 180.7%;
  /* or 36px */

  text-transform: lowercase;
  color: #FFFFFF;
  margin-top: 30px;
  padding-left: 87px;
}

.services-2__mini-sub-title {
  display: none;
}

.our-team__mini-img {
  display: none;
}

.our-team__img {
  display: block;
  margin: 0 auto;
}

@media (max-width:1300px) {
  .services-2__box {
    flex-direction: column;
  }

  .services-2__mini-box {
    width: 100%;
    margin-bottom: 50px;
  }

  .services-2__sub-title {
    padding-left: 75px;
  }

  .services-2__list {
    margin-top: 60px;
    padding-left: 92px;
  }

  .services-2__title {
    margin-top: 50px;
  }
}

@media (max-width:900px) {
  .our-team__img {
    width: 100%;
  }
}

@media (max-width:800px) {
  .services-2__mini-sub-title {
    display: block;
    padding-left: 30px;
    padding-top: 60px;
  }

  .services-2__sub-title {
    display: none;

  }

  .services-2__box {
    margin-bottom: 0;
  }

  .services-2__list {
    margin-top: 40px;
    padding-left: 47px;
    margin-bottom: 150px;
  }

  .services-2__mini-box {
    height: 100%;
    margin-bottom: 0;

  }

  .services-2__mini-box:nth-of-type(1) {
    margin-bottom: 45px;
  }

  .services-2__title {
    margin-top: 45px;
  }

  .our-team__mini-img {
    display: block;
    margin-top: -20px;
    max-width: 100%;
  }

  .our-team__img {
    display: none;
  }
}

.main-screen__decorative__block--mobile {
  display: none;
}
@media (max-width: 1300px) {
  .main-screen__decorative__block {
    display: none;
  }
}
@media (max-width: 800px) {


  .main-screen__decorative__block--mobile {
    position: absolute;
    top: 260px;
    left: auto;
    right: 40px;
    width: 180px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  .main-screen__decorative__block--mobile .main-screen__decorative-item {
    background: #1E1E1E;
    border-radius: 36px;
    display: block;
    margin-left: 0px;
    position: static;
    order: 2;
    margin-left: auto;
  }

  .main-screen__decorative-item-Research--mobile {
    margin-top: 15px;
    width: 138px;
  }

  .main-screen__decorative-item-ui--mobile {
    margin-top: 26px;
    width: 74px;
  }

  .main-screen__decorative-item-mind--mobile {
    margin-top: 21px;
    width: 138px;
  }

  .main-screen__decorative-item-design-mobile {
    margin-top: 24px;
    width: 178px;
  }

  .main-screen__decorative-item-visual--mobele {
    margin-top: 20px;
    width: 112px;
  }
}
.services-2__mini-mini-sub-title{
  display: none;
}

@media (max-width: 600px) {
  .main-screen__decorative__block--mobile {
    top: 230px;
  }
  
 
}
@media (max-width: 500px) {
  .services-2__mini-mini-sub-title{
    display: block;
    padding-left: 30px;
    padding-top: 60px;
  }
  .services-2__mini-sub-title--2{
    display: none;
  }
}

.main-screen__decorative-item>p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 30px;
  margin: 0;
}

.last-work__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;

  color: #FFFFFF;
  padding-top: 135px;
  padding-bottom: 35px;
}

.last-works__box--upstairs,
.last-works__box--downstairs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.last-works__item {
  position: relative;
  height: 285px;
}

.last-works__aroow {
  width: 100px;
  height: 100px;
  background: #1E1E1E;
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
}

.last-works__aroow>img {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.last-works__box--downstairs .last-works__aroow {
  bottom: -32px;
}

.last-works__link {
  display: block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #FFFFFF;
  text-align: center;
  margin-top: 25px;
  padding-bottom: 55px;
}

.last-works__item--mini {
  display: none;
}

@media (max-width:1300px) {
  .last-works__item {
    display: none;
  }

  .last-works__item--mini {
    display: block;
  }

  .last-works__box--upstairs {
    flex-direction: column;
    max-height: 100%;
    padding-bottom: 0;
  }

  .last-works__box--downstairs {
    flex-direction: column;
    height: 100%;
    display: none;
  }

  .last-works__aroow {
    width: 175px;
    height: 175px;
  }

  .last-works__aroow>img {
    margin-top: 68px;
    width: 40px;
    height: 40px;
  }

  .last-works__item {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }

  .last-works__item img {
    width: 100%;
  }

  /* .last-works__box--downstairs .last-works__aroow{
    margin-bottom: 35px;
  } */
}
@media (max-width:600px) {
  .main-screen__decorative__block--mobile-2 {
    margin-top: 325px;
    transform: scale(1.0);
    right: 15px;
  }
}
@media (max-width:650px) {
  .last-works__aroow {
    width: 90px;
    height: 90px;
    margin-bottom: 4px;
  }

  .last-works__aroow>img {
    margin-top: 37px;
    width: 19px;
    height: 19px;
  }
}

/* @media (max-width:1300px) */
.reviews-2 {
  background: #1E1E1E;
  padding-bottom: 130px;
}

.reviews-2__title {
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 90px;
}

.slider {
  width: 96%;
  margin: 0 auto;
}

.slick-list {
  margin-right: -25px;
  margin-left: -25px;
}

.slider_wrap * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.slider__item {
  padding: 0 55px !important;
}

.slider__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 172.7%;
  /* or 24px */

  text-align: center;

  color: #FFFFFF;
}

.slider__sub-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: #FFFFFF;
  text-align: center;
  padding-top: 15px;
}

.slick-next {
  z-index: 5;
  width: 30px;
  height: 30px;
  background-image: url(../img/Vector\ \(2\).svg) !important;
  transform: rotate(180deg)
}

.slick-prev {
  z-index: 5;
  width: 30px;
  height: 30px;
  background-image: url(../img/Vector\ \(2\).svg) !important;
}

.reviews-2__title--mini {
  display: none;
}

@media (max-width:700px) {
  .reviews-2__title {
    display: none;
  }

  .reviews-2__title--mini {
    display: block;
    padding-bottom: 70px;
    text-align: left;
  }

  .reviews-2 {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

@media (max-width:500px) {
  .reviews-2 {
    padding-bottom: 85px;
    padding-top: 85px;
  }
}

.animation-border {
  width: 103px;
  height: 103px;
}

.animation-border:hover {
  animation: first 1000ms ease forwards;
}

@keyframes first {
  1% {
    border: 1px solid white;
  }

  25% {
    width: 117px;
    height: 117px;
    border: 1px solid white;
  }

  50% {
    width: 135px;
    height: 135px;
    border: 1px solid white;
  }

  75% {
    width: 150px;
    height: 150px;
    border: 1px solid white;
  }

  100% {
    width: 160px;
    height: 160px;
    border: 1px solid white;
  }
}

.call {
  margin-top: 130px;
  background-color: #9747FF;
}

.call__form {
  display: flex;
  flex-direction: column;
}

.call_title {
  padding-top: 75px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  margin: 0 auto;
  padding-left: 20px;
  color: #FFFFFF;
}

.call_sub-title {
  display: block;
  padding-top: 14px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  max-width: 446px;
  text-align: center;
  margin: 0 auto;
}

.call__input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: inherit;
  outline: none;
  margin-bottom: 40px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  height: 40px;
}

.call__box {
  width: 650px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.call__input--width-290px {
  width: 290px;
  max-width: 100%;

}

.call__input--width-650px {
  width: 650px;
  margin: 0 auto;
}

.call__input::placeholder {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
}

.call__btn {
  background: #9747FF;
  width: 650px;
  height: 70px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;

  color: #FFFFFF;
  border: 1px solid white;
  margin: 80px auto;
  margin-top: 60px;
}

@media (max-width:800px) {
  .call_title {
    text-align: left;
    width: 420px;
    margin-left: 20px;
  }

  .call_sub-title {
    text-align: left;
    width: 400px;
    margin-left: 36px;
  }

  .call__box {
    flex-direction: column;
    margin-left: 36px;
  }

  .call__input--width-290px {
    width: 400px;
  }

  .call__input--width-650px {
    width: 400px;
    margin-left: 36px;
  }

  .call__btn {
    width: 410px;
    margin-left: 36px;
  }
}

@media (max-width:500px) {
  .call_title {
    text-align: left;
    width: 320px;
    margin-left: 36px;
  }

  .call_sub-title {
    text-align: left;
    width: 300px;
    margin-left: 36px;
  }

  .call__box {
    flex-direction: column;
    margin-left: 36px;
  }

  .call__input--width-290px {
    width: 300px;
    max-width: 100%;
    padding-right: 33px;
  }

  .call__input--width-650px {
    width: 300px;
    margin-left: 36px;
  }

  .call__btn {
    width: 310px;
    margin-left: 36px;
  }
}
@media (max-width:370px) {
  .call__input--width-290px{
    width: 230px;
  }
  .call__input--width-650px {
    width: 230px;

  }
}
.unser-ortfolio__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;

  color: #FFFFFF;
  margin-top: 95px;
}

.color-purple {
  color: #6F42B8 !important;
}

.unser-ortfolio__line-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.unser-ortfolio__item {
  width: 32.1%;
  position: relative;
  max-height: 315px;
  object-fit: covьутгer;
}

.unser-ortfolio__item>img {
  width: 100%;
  height: 100%;
}

.unser-ortfolio__line-box--mt-30px {
  margin-top: 30px;
}

.main-screen--d-block {
  display: block;
}
.last-works__box--upstairs--mt-30px{
  display: none;
}


@media (max-width:1300px) {
  .unser-ortfolio__item {
    display: none;
  }

  .last-works__item--mini {
    display: block;
  }

  .unser-ortfolio__line-box{
    display: none;
  }
  .last-works__box--upstairs--mt-30px{
    display: flex;
    margin-top: 30px;
  }
}

